.AdminSider{
    min-height: 800px;
}
.AdminSider a.active {
    color: #2295ff;
}
.AdminSider .ant-layout-sider-dark {
    min-height: 100%;
}
.ant-menu-item-selected{
    background-color: transparent !important;
}