.logo {
    color: #E0E0E0;
    float: left;
    font-weight: 600;
    font-size: 32px;
    margin-right: 80px;
}
.logo>.name{
    font-size: 20px;
    vertical-align: 3px;
}
.header_dropDown{
    float: right;
    color: #E0E0E0;
    font-size: 18px;
}