<div class="nav">
    <div class="container">
        <div class="user-info">
            <div class="user not-login">
                <a class="link" href="/user-login.html">登录</a>
                <a class="link" href="/user-register.html">注册</a>
            </div>
            <div class="user login hide">
                <span class="link-text">
                    欢迎
                </span>
                <span class="username">

                </span>
                <a class="link" href="javascript:;" id="logout">退出</a>
            </div>
        </div>
        <ul class="nav-list">
            <li class="nav-item cart-box cart-small-panel">
                <a class="link cart-link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-num">0</span>)
                </a>
                <div class="cart-content">
                        <div class="loader">
                            <img src="../../pages/common/nav/images/cart-loading.jpg" alt="">
                        </div>
                    <!--
                        <span class="cart-tip">最近添加的宝贝</span>
                        <ul>
                            <li class="cart-item clearfix">
                                <a href="" class="link " target="_blank">
                                    <img src="http://localhost:3002/" alt="" />
                                    <span class="text-ellipsis">连帽学生面包服</span>
                                </a>
                                <span class="product-count">x1</span>
                                <span class="product-price">￥666</span>
                            </li>
                        </ul>
                        <span class="line"></span>
                        <a href="./cart.html" class="btn cart-btn">查看我的购物车</a>
                    -->
                    <p class="empty-cart">网络错误, 请稍后在试!!!</p>
                </div>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">个人中心</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
        </ul>
    </div>
</div>