<div class="search-box">
    <div class="container">
        <div class="clearfix">
            <div class="logo">
                <h1>
                    <a class="logo-text" href="/">KMALL</a>
                </h1>
            </div>
            <div class="search">
                <input type="text" placeholder="请输入商品名称关键字" class="search-input" id="search-input">
                <a href="javascript:;" class="btn btn-search" id="btn-search">搜索</a>
            </div>
        </div>
        <div class="nav-wrap">
            <ul class="clearfix">
                <li class="nav-item">
                    <a href="" class="link active home">首页</a>
                </li>
                <li class="nav-item">
                    <a href="" class="link active">全部商品</a>
                </li>
                <li class="nav-item">
                    <a href="" class="link active">热卖商品</a>
                </li>
            </ul>
        </div>
    </div>
</div>