.form-box .captcha-box {
    display: flex;
    border: 0px;
}
.captcha-box .captcha-ipt {
    width: 200px;
    margin-right: 38px;
    border: 1px solid #bdbdbd;
}
.captcha-box .captcha-img {
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    cursor: pointer; /* 鼠标移入变小手 */
}
.captcha-box .captcha-img svg {
    width: 100%;
    height: 100%;
}