{% extends "./layout.html" %}
{% block title %}
我的列表页
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/detail.css">
<link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block content %}
<div class="col-md-8">
    <div class="panel panel-default custom-panel detail-panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{ ArticleDate.title }}</h3>
            <p class="sub-title">
                <span class="text-muted">{{ ArticleDate.category.name }}</span>
                <span class="text-muted">{{ ArticleDate.createTime }}</span>
                <span class="text-muted"><em>{{ ArticleDate.click }}</em>人已阅读</span>
            </p>
        </div>
        <div class="panel-body">
            <div class="well">
                <strong>简介:</strong>{{ ArticleDate.intro }}
            </div>
            <p>
                {{ ArticleDate.content | safe }}
            </p>
        </div>
    </div>

    <!-- 评论输入框 -->
<div class="row">
  <div class="col-lg-12 comment">
            {% if userInfo._id %}
            <div class="input-group">
                <textarea class="form-control text-comment" rows="3"></textarea>
                <span class="input-group-btn">
        <button class="btn btn-primary sub-comment" type="button" data-id="{{ ArticleDate._id.toString() }}">发布</button>
      </span>

            </div><!-- /input-group -->
            {% else %}
            <div class="alert alert-warning" role="alert">请登录后, 再评论.</div>
            {% endif %}
            <div class="col-sm-12">
                <p class="text-danger err"></p>
            </div>

            <!-- 评论面板 -->
    <div class="row">
       <div class="col-lg-12 comment">
           <div id="comment-wrap">
                {% for comment in commentsData %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ comment.user.username }} 发布于 {{ comment.createTime }} </h3>
                    </div>
                    <div class="panel-body">
                        {{ comment.content }}
                    </div>
                </div>
                {% endfor %}
           </div>
       </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->

    <!-- 详情页分页器 -->
    <nav aria-label="Page navigation" class="main_pagination" id="comment_page" data-id="{{ ArticleDate._id.toString() }}">
        {% include "./pagination.html" %}
    </nav>

</div>
{% endblock %}
{% block footer %}
<script src="/js/detail.js"></script>
{% endblock %}



