#btn-admin{
    float: right;
    margin-right: 60px;
    margin-top: 8px;
}
#content_list{
    margin-top: 30px;
    min-height: 400px;
}
#form_sty{
    margin-top: 50px;
}
.form-group{
    margin-bottom: 30px;
}
.ck-content{
    min-height: 200px;
}
