.login {
    width: 300px;
    margin: 100px auto;
}
.login-form {
    max-width: 300px;
    background: rgba(0,0,0,0.4);
    padding: 20px !important;
    border-radius: 10px;
    box-shadow: 0 5px 5px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}