.form-box .verify-box {
    display: flex;
    border: none;
    position: relative;
}
.verify-box .verify-ipt {
    width: 200px;
    border: 1px solid #bdbdbd;
    border-right: none;
}
.verify-box .btn-verify-code {
    width: 138px;
    height: 100%;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #f21;
    box-sizing: border-box;
    background: #f21;
    text-align: center;
    line-height: 27px;
}
.verify-box .captcha-box {
    display: none;
    width: 138px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 211px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.verify-box .captcha-box .captcha-ipt {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f21;
    outline: none; /* 去掉输入框选中的默认样式 */
    box-sizing: border-box;
}
.verify-box .captcha-box .captcha {
    width: 100%;
    height: 40px;
    border: 1px solid #f21;
    box-sizing: border-box;
    margin: 5px 0 5px 0;
    cursor: pointer;
}
.verify-box .captcha-box .captcha svg {
    width: 100%;
    height: 100%;
}
.verify-box .captcha-box .btn-captcha {
    display: block;
    width: 100%;
    height: 40px;
    background: #f21;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
}

/* 验证码已发送提示面板 */
.msg-wrap {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
}
.msg-wrap .msg-container {
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    /* 子元素绝对定位, 水平垂直方向居中 */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
.msg-wrap .msg-container .msg-box {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
.msg-box i {
    color: #52c41a;
    font-size: 24px;
    margin-right: 10px;
}
.msg-box .verifyCode-msg {
    font-size: 20px;
} 
.msg-container .btn-close {
    width: 100px;
    height: 30px;
    background: #52c41a;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
}