.ant-table-body {
    min-height: 600px;
}
.AdAddBtn {
    height: 40px;
}
.adList .add-btn{
    float: right;
    height: 40px;
}
.imgBox{
    width: 80px;
    height: 80px;
}
.imgBox img {
    width: 100%;
    height: 100%;
}
