*{
	margin: 0;
	padding: 0;
	/*background-color: #f4f4f4;*/
}
/*html{
	overflow: hidden;
}*/
.color{
	background-color: #f4f4f4;
	height: 4481px;
}
/*TOP*/
.icon{
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.top{
	width: 1255px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #fff;*/
	position:  relative;
}

.top .top-logo{
	width: 124px;
	height: 23px;
	float: left;
}
.top-table .top-li a{
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: #333333;
	font-size: 13px;
}
.top .top-input input{
	border-radius: 32px;
	width: 172px;
	height: 26px;
	float: right;
	margin-right: 98px;
	margin-top: 25px;
}
/*.top .top-input .search-input{
	float: left;
	width: 172px;
	height: 26px;
	padding-left: 8px;
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	outline:none;
	transition: all 300ms;
	margin-right: 98px;
	margin-top: 25px;
	border-radius: 32px;
}*/
.top .icon-1{
	float: right;
	margin-right:41px;
	margin-top: -23px;
	width: 21px;
  	overflow: hidden;
}
.top .icon-2{
	float: right;
	margin-right:0px;
	margin-top: -6px;
	width: 40px;
  	overflow: hidden;
}
.top .top-table .top-box .top-box-div{
	width: 300px;
	height: 100px;
	background-color: gray;
	z-index: 999;
	position: relative;
}
.top .top-table .top-box .top-box-div span{
	margin-top: 30px;
}
.top .top-table .box1 .top-ul .top-li{
	width: 100%;
	height: 200px;
}
.top .top-box-div{
	float: right;
	width: 100px;
	height: 40px;
	margin-right: -253px;
	margin-top: 30px;
}
.top-box-div .box-content{
	position: absolute;
	top: 80px;
	right: 15px;
	width: 300px;
	height: 0px;
	background-color: #fff;
	overflow:hidden;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1)
	border-top:1px solid #ccc;
}
.top-box-div .box-content .box-content-txt{
	margin-top: 5px;
	font-size: 14px;
	color: #999999;
}
.top .div-top-box1{ 
	position: absolute;
	top: 80px;
	left: -324px;
	width: 1903px;
	height: 0px;
	background-color: #fff;
	overflow: hidden;

}
.top .div-top-box1 .div-top-ul{
	float: left;
	margin-left: 360px;
}
.top .div-top-box1 .div-top-li{
	float: left;
	width: 150px;
	text-align: center;
	/*margin-left: 10px;*/
}
.top .div-top-box1 .div-top-li .div-li-img{
	margin-top: 25px;
	width: 100%;
	height: 100px;
}
.top .div-top-box1 .div-top-li .div-li-img img{
	width: 110px;

}
.top .div-top-box1 .div-top-li .product-name{
	margin-top: 10px;
	font-size: 13px;
	color: #000;
}
.top .div-top-box1 .div-top-li .product-price{
	margin-top: 5px;
	font-size: 13px;
	color: #000;
}
/*TOP结束*/	
/*advertising*/
.advertising{
	width: 1255px;
	height: 448px;
}
.advertising img{
	width: 1349px;
}
/*advertising结束*/
/*content*/
.content{
	width: 1255px;
	height: 143px;
	margin-left: auto;
	margin-right: auto;
}
.content .text1{
	font-size: 28px;
	color: #515151;
	float: left;
	margin-top: 92px;
}
.content .text2{
	color: #515151;
	float: right;
	margin-top: 100px;
	margin-right: 20px;
}
.content .content-div{
	position: relative;

}
.content .content-div img{
	position: absolute;
	right: 5px;
	width: 12px;
}
.content .content-div img:nth-child(2){
	top: 104px;
}
.content .content-div img:nth-child(3){
	top: 113px;
}
/*content结束*/
/*recommended*/
.recommended{
	width: 1255px;
	height: 3417px;
	margin-left: auto;
	margin-right: auto;
}
/*recommended-ul li div{
	float: left;
	margin-right: 15px;
	width: 407px;
	height: 557px;

}*/
.recommended-ul .recommended-div{
	float: left;
	width: 407px;
	height: 557px;
	background-color: #fff;
	margin-left: 0px;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}
.recommended-ul .recommended-div0{
	margin-left: 15px;
	background-color: #fff;
}
.recommended-ul .recommended-div1{
	float: right;
	width: 407px;
	height: 557px;
	background-color: #fff;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}
.recommended-ul .recommended-img{
	width: 350px;
	position: absolute;
	top: 25px;
	left:25px;
}
.recommended-ul li div .recommended-p{
	color: #cc0000;
}
.recommended-ul li div .recommended-p1{
	font-size: 25px;
	margin-top: 400px;
	text-align: center;
}

.recommended-ul .recommended-p2{
	color: #666666
}
.recommended-ul li div .recommended-p4{
	font-size: 25px;
	color: #cd0000;
}
.recommended .recommended-ul .recommended-div:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
	/*transform: translateY(-3px) translateZ(5px);*/
}
.recommended .recommended-ul .recommended-div1:hover{
	box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
	/*transform: translateY(-3px) translateZ(5px);*/
}
/*recommended结束*/
/*service*/
.service{
	width: 1255px;
	height: 250px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}
.service img{
	width: 100%;
}
/*service结束*/
/*content1*/
	.container{
		width: 1255px;
		margin-right: auto;
		margin-left: auto;
		/*background-color: orange;*/
	}
	.content1{
		height: 492px;
	}
	.content1 .text1{
		margin-top: 90px;
		margin-bottom: 25px;
		text-align: left;
	    font-size: 24px;
	    color: #333;
	    font-weight: 400;
	}
	.content1-main{
		height: 431px;
		width: 100%;
	    background: #fff;
	    border: 1px solid #fefefe;
	}
	.content1-main li{
		float: left;
		width: 313px;
		height: 100%;
		position: relative;
	}
	.content1-main .recommended-img{
		width: 252px;
		position: absolute;
		top: 30px;
		left:37px;
		color: orange;
		transition:all 20ms linear;
	}
	.content1-main .recommended-img:hover{
		transform: scale(1.15);
	}
	.content1-main .recommended-span{
		font-size: 24px;
	}
	.content1-main .recommended-p1{
		font-size: 18px;
	    color: #2b2b2b;
		margin-top: 300px;
		text-align: center;
	}
	.content1-main .recommended-p4{
	    margin-top: 12px;
	    font-size: 17px;
	    color: #c00;
	    text-align: center;
        font-weight: 400;
	}
	.content1-bottom{
		float: left;
		margin-right: auto;
		margin-left: auto;
		height: 81px;
		position: relative;
		width: 1255px;
		overflow: hidden;
	}
	.content1-bottom ul{
		position: absolute;
		top: 38px;
		left: 50%;
		margin-left: 255px;
	}
	.content1-bottom ul li{
		width: 9px;
		height: 10px;
		background-color: #fff;
		border: 1px solid #a1a1a1;
	    border-radius: 5px;
	    float: left;
	    margin-right: 12px;
	}
	.content1-bottom ul .ab{
		background-color: #a1a1a1;
	}

/*content1结束*/
/*serve*/
	.sever{
		height: 245px;
		width: 1255px;
		background-color: #fff;
		margin-right: auto;
		margin-left: auto;
		/*text-align: center;*/
		overflow: hidden;
	}
	.sever .sever-ul .sever-li .sever-img1{
		float: left;
		/*margin-left: 300px;*/
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-ul .sever-li .sever-img2{
		float: left;
		margin-left:70px;
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-ul .sever-li .sever-img3{
		float: left;
		margin-left:70px;
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-ul .sever-li .sever-img4{
		float: left;
		margin-left:70px;
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-ul .sever-li .sever-img5{
		float: left;
		margin-left:70px;
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-ul .sever-li .sever-img6{
		float: left;
		margin-left:70px;
		margin-top: 45px;
		height: 55px;
	}
	.sever .sever-p1{
		font-size: 10px;
		color: #999999;
		float: right;
		/*margin-right: 300px;*/
		margin-top: 27px;
	}
	.sever .sever-p2{
		float: right;
		font-size: 25px;
		color: #07c3f5;
		font-weight: 400;
		margin-right: -120px;
		margin-top: 50px;
	}
	.sever .sever-img7{
		width: 90px;
		float: right;
		margin-top: 82px;
		margin-right: -150px;
	}
	.sever .sever-div{
		width: 1255px;
		height: 1px;
		background-color: #eeeeee;
		margin-top: 141px;
	}
/*serve结束*/
/*info*/
	.info .aaa{
		width: 1255px;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -72px;
	}
	.info .bbb{
		width: 1255px;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
	}
	.info .info-ul1 .info-li1 .info-in1{
		float: left;
		margin-left: 30px;
		/*margin-top: 30px;	*/
		display: block;
		font-size: 12px;
		color: #999999;
	}
	.info .info-ul1 .info-li1 .info-in2{
		float: left;
		/*margin-right:18px;*/
		/*margin-top: 30px;	*/
		display: block;
		font-size: 12px;
		color: #999999;
	}
	.info .info-ul2 .info-li2{
		float: left;
		margin-right: 30px;
	}
	.info .info-ul2 .info-li2{
		float: left;
		margin-left: -4px;
		/*margin-top: 30px;	*/
		display: block;
		font-size: 12px;
		color: #999999;
	}
	a{
		text-decoration: none;
	}
	.info .info-img1{
		float: right;
		margin-right: 212px;
		margin-top: -17px;
		width: 65px;
		/*height: 18px;*/
	}
	.info .info-img2{
		float: right;
		margin-right: -280px;
		margin-top: -17px;
		width: 153px;
		/*height: 18px;*/
	}